.btn-item:hover {
  opacity: 0.8;
}
.img-post {
  height: 55px;
  width: 100px;
  margin-right: 20px;
}
.img-post img {
  height: 100%;
  width: 100%;
}
label#thumbnail {
  margin-bottom: 20px;
  border: 1px dashed #888;
  background-size: cover;
  
  display: flex;
  cursor: pointer;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
label#thumbnail input {
  display: none;
}
label#thumbnail.has-thumbnail {
  border: 0;   
}
label#thumbnail.has-thumbnail img{
  display: none;   
}