.label-file input[type="file"] {
  color: red;
  width: 0px !important;
  height: 0px !important;
  display: none;
}
.container-photos {
  min-height: 60vh;

  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, 170px);
}