.content-login {
  min-height: calc(100vh - 110px);
  width: 100% !important;
  background: linear-gradient(to bottom, #ebebeb 248px, #b83030bd 248px);
  margin: 0px !important;
}
.box-login {
  height: 350px;
  width: 500px;
  margin-top: 5%;
  -webkit-tap-highlight-color: transparent;

  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  padding: 30px 40px;

  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-color: #ddd;
  border-radius: 10px;
}
.form-login {
  height: 40px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.form-login input {
  width: 100%;
  margin-left: 15px;
  border: transparent;
  background-color: transparent;
  border-bottom: 1px solid steelblue;
  outline: none;
}
.form-login input:focus {
  border-bottom-color: indianred;
}
.box-login button {
  box-sizing: border-box;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  width: 100%;
  background-color: var(--color-default);
  border-color: var(--color-default);
}
.box-login button:hover {
  opacity: 0.9;
}
.content-pass {
  position: relative;
}
.span-show {
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  width: 70px;
  position: absolute;
  top: 15px;
  left: 83%;
  background-color: transparent;
}
