.card-option {
  cursor: pointer;
  font-weight: 500;
  height: 130px;
}
.card-option:hover {
  opacity: 0.8;
  text-decoration: underline;
  color: white;
}
.card-option:hover {
  background-color: #db4040cc;
}