.card-option {
  cursor: pointer;
  font-weight: 500;
  height: 130px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card-option:hover {
  opacity: 0.8;
  text-decoration: underline;
  color: white;
}
.card-option:hover {
  background-color: #db4040cc;
}
.folder::active {
  background-color: blueviolet;
}