.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 5px solid;

  -webkit-box-shadow: -1px 0px 18px -1px rgba(166,163,166,1);
  -moz-box-shadow: -1px 0px 18px -1px rgba(166,163,166,1);
  box-shadow: -1px 0px 18px -1px rgba(166,163,166,1);
}
.primary {
  border-left-color: #a52a2a;
}
.secundary {
  border-left-color: #d9534f;
}
.info {
  border-left-color: #5bc0de;
}
.form-search {
  position: relative;
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: rgb(192, 194, 197);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  margin-right: 10px;
}
.search {
  position: absolute;
  background-color: rgb(195, 204, 214);
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}
.fa-search {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #676c81;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}
.form-search:hover{
  width: 200px;
  cursor: pointer;
}
.form-search:hover input{
  display: block;
}
.form-search:hover .fa{
  background: #38383b;
  color: lightslategray;
}
.btn-item:hover {
  opacity: 0.8;
}
.title-phone {
  color: #555;
}
.description-phone {
  font-size: 20px;
}