.company {
  padding: 200px;
}
.company hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-default);
}
.company h1 {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: var(--color-default);
}
.content-logo-white {
  background-color: var(--color-default);
}