.option-dashboard {
  padding: 10px;
  color: black;
  font-weight: bolder;
}
.option-dashboard:hover {
  text-decoration: underline;
  color: black;
}
.option-dashboard:hover img {
  transition: all .5s ease-in-out;
  transform: scale(1.05);
}