:root {
  --color-default: #a52a2a;
}
.color-default {
  background-color: var(--color-default);
}
.title-display {
  font-size: 28px;
}
.slider {
  max-height: 350px;
  overflow: hidden;
}
.no-touch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}