:root {
  --color-default: #a52a2a;
}
.content-body {
  min-height: 100vh;
}
.bg-gray {
  background-color: whitesmoke;
}
.color-default {
  background-color: var(--color-default);
}
.title-display {
  font-size: 28px;
}
.slider {
  max-height: 350px;
  overflow: hidden;
}
.no-touch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-disabled {
  cursor: no-drop !important;
  background-color: yellowgreen;
}
.fadeIn {
  animation-delay: 0s;
  -webkit-animation: fadeIn 3s ease-in-out;
  -moz-animation: fadeIn 3s ease-in-out;
  -o-animation: fadeIn 3s ease-in-out;
  animation: fadeIn 3s ease-in-out;
  animation-fill-mode: forwards;
}
.paragraph {
  word-wrap: break-word;
}
.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 5px solid;

  -webkit-box-shadow: -1px 0px 18px -1px rgba(166,163,166,1);
  -moz-box-shadow: -1px 0px 18px -1px rgba(166,163,166,1);
  box-shadow: -1px 0px 18px -1px rgba(166,163,166,1);
}
.primary {
  border-left-color: #a52a2a;
}
.secundary {
  border-left-color: #d9534f;
}
.info {
  border-left-color: #5bc0de;
}
::-webkit-input-placeholder { /* Chrome, Safari */
  text-transform: initial;
}
:-moz-placeholder { /* Firefox 18- */
   text-transform: initial; 
}
::-moz-placeholder {  /* Firefox 19+ */
   text-transform: initial;
}
:-ms-input-placeholder {  /* IE */
   text-transform: initial; 
}
@-webkit-keyframes fadeIn {
  100% { opacity: 0; }
  0% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
  100% { opacity: 0; }
  0% { opacity: 1; }
}
@-o-keyframes fadeIn {
  100% { opacity: 0; }
  0% { opacity: 1; } 
}
@keyframes fadeIn {
  100% { opacity: 0; }
  0% { opacity: 1; } 
}