.tree li {
  border-left: 1px dashed rgba(0, 0, 0, 0.4);
  padding-left: 8px;
}
.tree li {
  list-style-type: none;
}
.tree ol {
  padding-left: 20px;
  margin: 0;
}
.tree ol {
  padding-left: 0;
}
.tree dd {
  margin: 0;
}
.tree a,
.tree span {
  cursor: pointer;
  padding-right: 120px;
}
.tree a:hover,
.tree a + i:hover,
.tree span:hover {
  background-color: rgba(63, 81, 181, 0.12);
}
.tree a {
  color: #333;
}
.tree ol li {
  padding-left: 25px;
}
ol.expanded > li {
  position: relative;
  animation: translate .2s ease-in-out;
}
.tree ol.contracted li {
  color: rgb(138, 115, 115)(138, 115, 115);
  height: 0;
  display: none;
}
.tree .select-item {
  background-color: #d8d8d8;
}
@keyframes translate {
  0% { 
    top: 0px;
    left: 5px;
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
  }
  100% { 
    top: 10;
    left: 0px; 
    opacity: 1;
    transform: translate3d(0px, 0px, 100px);
  }
}